.WizardAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-lg);
  padding: var(--spacing-md) var(--spacing-lg);
  border: 3px solid var(--blue);
  background-color: rgba(0, 0, 0, 0.125);
  color: #fff;
  font-weight: 300;
  border-radius: calc(var(--border-radius) * 2);
  text-decoration: none;
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.33);
  transition: background-color var(--anim-speed) var(--anim-easing);
}

.WizardAnswer:focus,
.WizardAnswer:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.WizardAnswer:focus {
  outline: 1px dashed var(--dark-gray);
  outline-offset: -5px;
}

.WizardAnswer + .WizardAnswer {
  margin-top: var(--spacing-lg);
}