.Wizard {
  margin: var(--spacing-xl) 0;
  text-align: center;
}

.Wizard-heading {
  font-weight: 300;
  margin-bottom: var(--spacing-xl);
}

.Wizard-help {
  margin-top: var(--spacing-xl);
  padding: var(--container-padding);
  padding-bottom: var(--spacing-xl);
  font-weight: 400;
  background: rgba(0, 0, 0, 0.25);
}

.Wizard-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Wizard-link {
  position: relative; /* allows use of absolute positioning */
  border-radius: 50%;
  padding: var(--spacing-lg);
  background-color: rgba(0, 0, 0, 0.125);
  border: 3px solid var(--blue);
  margin: var(--spacing-md);
  transition: background-color var(--anim-speed) var(--anim-easing);
}

.Wizard-link:hover {
  background-color: rgba(0, 0, 0, 0.33);
}

.Wizard-linkIcon svg {
  height: 1.75rem;
  width: 1.75rem;
}

.Wizard-linkDescription {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  position: absolute;
  bottom: -33%;
  left: 50%;
  transform: translateX(-50%);
}