* + .FormGroup {
  margin-top: var(--spacing-xl);
}

.FormGroup + .FormGroup {
  margin-top: var(--spacing-lg);
}

.FormGroup-label {
  display: block;
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05rem;
}

.FormGroup-label--error {
  color: var(--error);
}

.FormGroup-input {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-sm);
  font-size: var(--font-size-md);
  background-color: var(--white);
  border: 0;
  border-bottom: 1px solid var(--dark-gray);
  transition: border-color var(--anim-speed) var(--anim-easing);
}

.FormGroup-input:focus {
  border-color: var(--blue);
  outline: none;
}

.FormGroup-input--error {
  border-bottom: 1px solid var(--error);
  background-color: #ffffed;
}

.FormGroup-errorMsg {
  display: flex;
  align-items: center;
  color: var(--error);
  margin-top: var(--spacing-sm);
}

.FormGroup-errorMsgIcon {
  margin-right: var(--spacing-sm);
}