.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--dark-gray);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--light-gray);
  box-shadow: var(--box-shadow-lg);
  font-family: var(--font-family-primary);
  width: 100%;
}

.Card-alert {
  margin-bottom: var(--spacing-lg);
}

.Card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-sm);
  border-bottom: 1px solid var(--light-gray);
  background: var(--white);
}

.Card-heading {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--dark-gray);
}

.Card-meta {
  font-size: var(--font-size-sm);
  font-style: italic;
  color: var(--purple);
  margin: 0;
}

.Card-content {
  padding: var(--spacing-md);
  line-height: 1.5;
}

.Card-footer {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--white);
}