.Heading {
  font-weight: 300;
  font-family: var(--font-family-secondary);
}

.Heading + * {
  margin-top: var(--spacing-lg);
}

/* 1.33 modular scale from --> http://www.modularscale.com/?1&em&1.33 */
.Heading--1 {
  font-size: 3.052rem;
}

.Heading--2 {
  font-size: 2.441rem;
}

.Heading--3 {
  font-size: 1.953rem;
}

.Heading--4 {
  font-size: 1.563rem;
}

.Heading--5 {
  font-size: 1.25rem;
}

.Heading--6 {
  font-size: 1rem;
}