.Modal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* https://stackoverflow.com/questions/38675321/how-to-make-modal-in-the-center-of-screen-due-to-absolute-position */
  z-index: var(--z-index-xxl);
  background-color: var(--white);
  box-shadow: var(--box-shadow-xl);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: var(--breakpoint-sm);
}

.Modal:focus {
  outline: none; /* focus is for screen readers only, does not need to be visible */
}

.Modal-button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

.Modal-heading {
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin-bottom: var(--spacing-lg);
}

.Modal-content {
  position: relative; /* allows absolute positioning within */
  padding: var(--container-padding);
}

.Modal-close {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  font-size: var(--font-size-xl);
  background: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  outline: none;
  color: var(--blue);
  cursor: pointer;
  transition: transform var(--anim-speed) var(--anim-easing);
}

.Modal-close:hover,
.Moda-close:focus {
  transform: scale(1.25);
}

.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%; /* HACK - fixes overlay height defect */
  background-color: rgba(0, 0, 0, 0.75);
  z-index: var(--z-index-xl);
}