.Header {
  position: relative; /* enables z-index */
  z-index: var(--z-index-xl);
  background-color: #fff;
  border-bottom: 1px solid var(--dark-white);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.Header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  padding: var(--container-padding);
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.Header-brand {
  color: #903;
}