@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500,700');

/* Colors */
:root {
  --white: #fff;
  --dark-white: #ececec;
  --darker-gray: #292929;
  --dark-gray: #4d4d4d;
  --gray: #8f8f8f;
  --light-gray: #e3e3e3;
  --blue: #2c60eb;
  --dark-blue: #232ff5;
  --darker-blue: #1722c2;
  --navy: #222a31;
  --dark-navy: #1b2229;
  
  /* Status colors */
  --error: #f52351;
  --success: #11e234;
  --attention: #f5bd23;
  --info: #237ef5;
  
  /* Spacing */
  --spacing-xxs: 0.1rem;
  --spacing-xs: 0.2rem;
  --spacing-sm: 0.4rem;
  --spacing-md: 0.8rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 3.2rem;
  --spacing-xxl: 6.4rem;
  
  /* Animation */
  --anim-speed: 0.33s;
  --anim-easing: ease-in-out;
  
  /* Font families */
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Roboto Slab', serif;
  
  /* Font sizes - modular scale ratio 1.333 */
  --font-size-xxs: 0.42rem;
  --font-size-xs: 0.56rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.33rem;
  --font-size-xl: 1.77rem;
  --font-size-xxl: 2.37rem;
  
  /* Breakpoints */
  --breakpoint-xs: 500px;
  --breakpoint-sm: 660px;
  --breakpoint-md: 980px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1690px;
  
  /* Z-index */
  --z-index-xxs: -15;
  --z-index-xs: -10;
  --z-index-sm: -5;
  --z-index-md: 0;
  --z-index-lg: 5;
  --z-index-xl: 10;
  --z-index-xxl: 15;
  
  /* Box-shadow */
  --box-shadow-sm: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.33);
  --box-shadow-md: 0 0.33rem 0.75rem -0.25rem rgba(0, 0, 0, 0.25);
  --box-shadow-lg: 0 0.5rem 1.33rem -0.25rem rgba(0, 0, 0, 0.15);
  --box-shadow-xl: 0 0.66rem 1.66rem -0.25rem rgba(0, 0, 0, 0.15);
  
  /* Misc */
  --border-radius: 7px;
  --header-footer-height: 4rem;
}

/* Varying container/section padding variables */
:root {
  --section-padding: var(--spacing-lg) var(--spacing-md);
  --container-padding: var(--spacing-md);
}

@media (min-width: 736px) {
  :root {
    --section-padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-xl);
    --container-padding: var(--spacing-lg);
  }
}

/* Base styles */
* {
  box-sizing: border-box;
}

html {
  color: var(--darker-gray);
  font-size: calc(12px + 0.33vw);
  font-family: var(--font-family-primary);
}

@media (min-width: 1690px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
}

a:focus,
button:focus,
[role='button']:focus,
[tabindex='0']:focus {
  outline: 1px dashed currentColor;
  transition: outline var(--anim-speed) var(--anim-easing);
}

/* Typography */
p {
  margin-top: 0;
}

/* Utility classes */
.u-maxWidth-sm {
  max-width: var(--breakpoint-sm);
}

.u-maxWidth-md {
  max-width: var(--breakpoint-md);
}

.u-maxWidth-lg {
  max-width: var(--breakpoint-lg);
}

.u-maxWidth-xl {
  max-width: var(--breakpoint-xl);
}