.DarkLayout {
  background-color: var(--navy);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* allows absolute positioning within */
  min-height: 100vh;
}

.DarkLayout a {
  color: #fff;
}

.DarkLayout-wrapper {
  z-index: var(--z-index-lg);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--breakpoint-sm);
  padding: var(--section-padding);
}

.DarkLayout-angledThingy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, var(--navy), var(--dark-navy));
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.DarkLayout-backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.125;
}