.DefaultLayout {
  background-color: var(--white);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.DefaultLayout-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--breakpoint-sm);
  padding: var(--section-padding);
}