.Accordion {
  border-radius: var(--border-radius);
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  overflow: hidden;
  box-shadow: var(--box-shadow-sm);
}

.Accordion--minimal {
  border: 0;
  box-shadow: none;
}

.Accordion-trigger {
  display: flex;
  align-items: center;
  font-size: var(--font-size-md);
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--light-gray);
  text-align: left;
  padding: var(--container-padding);
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  cursor: pointer;
  outline-offset: -3px;
  transition: background-color var(--anim-speed) var(--anim-easing);
}

.Accordion-trigger:hover,
.Accordion-trigger:focus {
  background-color: var(--dark-white);
}

.Accordion-trigger--minimal {
  border-bottom: 0;
  color: var(--blue);
}

.Accordion-icon {
  margin-right: var(--spacing-sm);
  fill: var(--blue);
  transition: transform var(--anim-speed) var(--anim-easing);
}

.Accordion-icon.is-open {
  transform: rotate(90deg);
}

.Accordion-content {
  padding: var(--container-padding);
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  display: none;
}

.Accordion-content.is-open {
  display: block;
}