.ToggleGroup {
  display: inline-flex;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  background-color: var(--white);
  overflow: hidden;
  box-shadow: var(--box-shadow-sm);
}

.ToggleGroup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md);
  color: var(--blue);
  border-right: 1px solid var(--light-gray);
  cursor: pointer;
  padding: var(--spacing-md) var(--spacing-lg);
  transition: color var(--anim-speed) var(--anim-easing),
              background-color var(--anim-speed) var(--anim-easing);
}

.ToggleGroup-button:last-of-type {
  border-right: 0;
}

.ToggleGroup-button:focus {
  outline: 1px dashed currentColor;
  outline-offset: -3px;
}

.ToggleGroup-button:hover,
.ToggleGroup-button:focus {
  background-color: var(--dark-white);
}

.ToggleGroup-button.is-active {
  color: var(--white);
  background-color: var(--blue);
}

.ToggleGroup-button.is-active:hover,
.ToggleGroup-button.is-active:focus {
  background-color: var(--dark-blue);
}
